<div class="md:container flex flex-row mx-auto">

<div>
<div id="icon"></div>
<div id="linea"></div>
</div>

<div id="contenido">
    <h1 class="text-white text-4xl">Experience</h1>

</div>


</div>


<style>

.linea{
 border-left: thick solid #000;
 height:100%;
 left: 50%;
 position: absolute;
}

</style>